body{
    background-color: rgb(12, 12, 60);
}
.cardSub{
    border: 1px solid gray;
    border-radius: 20px;
    padding: 10px;
    width: 360px;
    height: 500px;
    margin: 10px;
}
.cardSub:hover{
    box-shadow: 1em 0em 2em 0em gray;
}
.containerCard{
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
}
#titleCard{
    color:  white;
}